html, body{
	height:100%;
}
body {
	background-color:#1dbff0;
	overflow-y:scroll;
	margin:0 50px;
	font-family:sansationbold, sans-serif;
}
.lienAction a{
	color: #6297A2;
	font-size: 9px;
}

#bodyPage { 
	min-height:100%;
	width:100%;
	min-width:600px;
	background-color:white;
	text-align:center;
	color:#6297a2;
	font-family:sansationbold, sans-serif;
}
header{
	width:100%;
	height:170px;
	margin:0 auto;
/*	overflow:hidden;*/
	margin-bottom:50px;
}
header img{
	width:453px;
	height:170px;

}
#identification{
	margin-right: 120px;
	color:#6297a2;
	margin-top: 40px;
}

#identification a{

	color:#6297a2;	
	border: 1px solid #ededed;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #D5ECED;
	padding: 2px 4px;
	margin-top:5px;

}
.menu {

	color:#6297a2;	
	border: 1px solid #ededed;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #D5ECED;
	padding: 2px 4px;
	margin-top:5px;

}
/*table.centre{float: right;}*/
/*tr {margin-top: 12px;margin-bottom: 12px}*/
select {
	width: 150px;
	border: 1px solid #DDD;
	background-color: white;
	display: inline-block;
	padding: 4px 4px;
	margin-bottom: 6px;
	margin-top: 4px;
}

input[type=text], input[type=password]{
	padding:6px;
	margin: 2px;
	border:none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 6px 0px #147390;
	box-shadow: 0px 1px 6px 0px #147390;
	color:#56a3b3;
	font-family:sansationitalic, sans-serif;
	font-size:1.2em;width:300px; 
}

input[type=submit]{
	cursor:pointer;
	color:white;
	background-color:#79b0bc;
	padding:11px 30px;
	font-size:1.3em;
	min-width:200px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	font-family:sansationbold_italic, sans-serif;
}

.errors{
	padding-top:10px;
}
.center{margin-left: auto;margin-right: auto;}
.left{float: left;}
.right{float: right;} 

section#index #avion{
	margin:0 auto;
	height:150px;
}
section#index #avion img{
	width:519px;
	height:218px;
}

section#index *{
	margin:0 auto;
}


#fieldsetConnexion dt{ height:0; }
#fieldsetConnexion dd{ margin-bottom:25px; width:324px; }

.modSupp {

	margin-left: 6px;
	margin-right: 6px;
}
.action_page a{

	float: left;
	margin-left: 120px;
	color:#6297a2; 
}

tr td.btnGestion a { visibility: hidden;}
tr:hover td.btnGestion a{ visibility:visible ;}


.table_show_ligne{
	margin-left: auto;
	margin-right: auto;

}

table.table_type1 { 
	color:#6297a2;
  	width: 80%;
	border: 1px solid #ededed;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}
table.table_type1 tr { 
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	padding: 10px 10px 10px 10px;
	height: 25px
	}
table.table_type1 tr:hover { 
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	padding:0 10px 0 10px;
	background: #D5ECED;

	}

table.table_type1 th { 
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	padding:0 10px 0 10px;
	color:#FFF;
	background-color: #1CBEEF;
	vertical-align:middle; 

}
table.table_type1 td { 
	vertical-align:middle; 
}

table.table_type1 td:first-child { 
	border-left: none; width:88px; background:#f9f9f9; padding-left:0px; padding-right:0px;}

/* ajouté par antoine 
	Abdallah : tu peux modifier l'apparence, mais attention à ne pas trop modifier 
	car il y a du jquery qui fonctionne avec
	c'est pour le panneau de contrôle dans la page d'index du planning ;)
*/
div#panel{
	width:51%;
	overflow:hidden;
	position:relative;
	height:150px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 40px;
	margin-right: 121px;
	font-family:sansationbold, sans-serif;


}
div#panel button{
	cursor:pointer;
	margin:0;
	width:100%;
	padding:0;
	height:50px;
	border:1px solid #f9f9f9;
}
div#panel button.actif{
	background-color:#1CBEEF;
	color: white;
}
div#panel button.cinqSemaines{
	width:100%;
}
div#panel div.semaines{
	overflow-x:scroll;
	overflow-y:hidden;
	height:100px;
	white-space:nowrap;
	position:relative;
	font-size:0; /* PAS TOUCHER !! Correction pour espace blanc indésirable */
}
div#panel div.semaine{
	display:inline-block;
	width:148px;
	height:100%;
}
div#panel div.semaines button{
	height:50%;
}
div#panel div.semaines div.jours{
	width:100%;
	height:50%;
	position:relative;
}
div#panel div.semaine div.jour{
	width:14.28%;
	float:left;
	height:100%;
}
div#panel div.semaine div.jour button{
	height:100%;
}
div#today{
	width:170px;
	overflow:hidden;
	position:relative;	
	margin-bottom: 40px;
	height:150px;
	margin-left: 121px;
	border:1px solid lightgrey;
	-webkit-border-radius:  10px;
	-moz-border-radius: 10px;



}
div#today div.head{
	-webkit-border-radius:  10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	background-color: #1CBEEF;
	color: white;
	height: 20px;
	padding: 5px 0 3px 0;


}div#today span.DayOver{

	font-size: 65px;





}


/* fin de ajouté par antoine */
/* POLICES */
@font-face {
    font-family: 'sansationregular';
    src: url('polices/sansation_regular-webfont.eot');
    src: url('polices/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/sansation_regular-webfont.woff') format('woff'),
         url('polices/sansation_regular-webfont.ttf') format('truetype'),
         url('polices/sansation_regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationbold';
    src: url('polices/sansation_bold-webfont.eot');
    src: url('polices/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/sansation_bold-webfont.woff') format('woff'),
         url('polices/sansation_bold-webfont.ttf') format('truetype'),
         url('polices/sansation_bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationbold_italic';
    src: url('polices/sansation_bold_italic-webfont.eot');
    src: url('polices/sansation_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/sansation_bold_italic-webfont.woff') format('woff'),
         url('polices/sansation_bold_italic-webfont.ttf') format('truetype'),
         url('polices/sansation_bold_italic-webfont.svg#sansationbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationitalic';
    src: url('polices/sansation_italic-webfont.eot');
    src: url('polices/sansation_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/sansation_italic-webfont.woff') format('woff'),
         url('polices/sansation_italic-webfont.ttf') format('truetype'),
         url('polices/sansation_italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
